[Unit]
Description=Flash LED on GPIO23 to see whether Raspi is alive.
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/lukas/Development/flashled-service/aliveled.py

[Install]
WantedBy=multi-user.target
